<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name = "TestSuite" >
<listeners>
<listener class-name="com.automation.listener.TestCaseListener"/> 
</listeners>
<test name="SampleTest">
<classes>
<class name = "com.automation.test.TC005_EditContactInfo_Test" />


</classes>
</test>
</suite>