<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name = "TestSuite" >
<listeners>
<listener class-name="com.automation.listener.TestCaseListener"/> 
</listeners>
<test name="SampleTest">
<classes>
<class name = "com.automation.test.TC001_CreateNewCompany_Test" />
<class name = "com.automation.test.TC002_Deals_Test" />
<class name = "com.automation.test.TC003_Report_Test" />
<class name = "com.automation.test.TC004_Contacts" />

</classes>
</test>
</suite>